.md-slot-machine
  padding: 10px
  border-radius: 5px
  background: #232323

.md-slot-machine__reels
  width: 100%
  display: table
  margin-top: 5px

.md-slot-machine__info
  width: 100%
  padding: 10px
  margin-top: 15px
  height: 80px

.md-slot-machine__display
  color: #adacac
  text-align: center
  font-size: 20px
  font-weight: bold
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7)
  text-shadow: 0 0 10px rgb(0, 0, 0)
  border-radius: 20px
  //width: 30%
  //margin: 5px 10px
  padding: 10px
  display: inline-block

.md-slot-machine__controls
  width: 100%
  height: 100px
  position: relative

.md-slot-machine__controls__column
  float: left
  height: 100%
  width: 20%
  padding: 5px

.md-slot-machine__controls__row
  height: 50%
  width: 100%
  padding: 2%

.md-slot-machine-button
  width: 100%

.md-slot-machine__balance
  width: 20%
  border: 1px solid red
  position: absolute
  text-align: center
  padding: 5px 0
  top: 50%
  left: 5%
  transform: translateY(-50%)

.md-slot-machine__reel
  height: 100%
  display: table-cell
  margin: 10%
  background: linear-gradient(#f1f1f1, #a0a0a0, #696969)
  border: 3px solid #232323
  box-shadow: inset 0px 0px 103px 11px rgba(0, 0, 0, 0.75)
  border-collapse: collapse
